.photographerGallery {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
  grid-gap: 20px;
  align-items: start;
  margin-bottom: 50px;
}
.mediaItem {
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: inherit;
  }

  img,
  video {
    object-fit: cover;
    border-radius: 5px;
  }
  figcaption {
    font-size: 2.4em;
    color: var(--text-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
  }
}
.mediaTitle {
  padding-top: 10px;
}
