.contactButton {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: none;
  border-radius: 5px;
  padding: 21px 10px;
  font-size: 2em;
  font-family: var(--font-DMSans);
  font-weight: bold;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--button-primary-bg-hover);
    color: var(--button-primary-text-hover);
  }
}
